@charset "UTF-8";
/* This is acomment or remarks */

body {
	padding: 0;
	margin: 0;
	background-color:cornsilk;
}

#container {
	width: 800px;
	background:#E5C8C9;
	margin: 0 auto;
	border: 1px solid #4A8689;
	padding: 20px;
}

#header {
	height: 150px;
	background: #83ACAF;
}

#main {
	height: 400px;
	background: #78B9D0;
	width: 780;
	margin-top: 20px;
}

#section-1 {
	height: 300px;
	background-color: slategray;
}